body{
    margin: 0;
    padding: 0;
    background: #050505;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: none;
}

h2{
    color: #222;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    pointer-events: none;
    user-select: none;
}

.onda{
    position: absolute;
    border: 2px solid #00d2ff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: expandir 0.8s ease-out forwards;
    box-shadow: 0 0 15px #00d2ff, inset 0 0 15px #00d2ff;
}

@keyframes expandir{
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    100%{
        width: 250px;
        height: 250px;
        opacity: 0;
    }
}   


